@{
    var db = Database.Open("SQLServerConnectionString");
    var selectQueryString = "SELECT * FROM [User] WHERE ID = @0";
    var GetProfileQuery = "SELECT * FROM User_Info WHERE StudentID = @0";
    var username = "";
    var name = "";
    var password = "";
    var newpassword = "";
    var confirmpass = "";
    var errormessage = "";
    var error = false;
    if (Session["username"] == null)
    {
        Response.Redirect("default.cshtml");
    }
    else
    {
        username = (string)Session["username"];
        var row = db.QuerySingle(selectQueryString, username);
        name = (row.LastName + ", " + row.FirstName + " " + row.MiddleName);
        
        var details = db.QuerySingle(GetProfileQuery, username);
        if (details == null)
        {
            Response.Redirect("~Student/AddInfo");
        }
        else
        {
            if (row.Role == 1)
            {
                Response.Redirect("../");
            }
        }
    }    
    if(IsPost)
    {
        var user = db.QuerySingle(selectQueryString, username);
        password = Request["oldpass"];
        newpassword = Request["newpass"];
        confirmpass = Request["confirm"];
        if(newpassword != confirmpass)
        {
            error = true;
            errormessage = "Passwords does not match";   
        }
        else if(password != user.password)
        {
            error = true;
            errormessage = "Incorrect current password";
        }
        else
        {

            var updateQueryString =
               "UPDATE [User] SET Password=@0 WHERE Id=@1";
            db.Execute(updateQueryString, newpassword, username);
            errormessage = "Change password successful!";
        }
        
    }
    
    
    
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change Password</title>

    <!-- Bootstrap -->
    <link href="~/css/custombootstrap.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/validate.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AcEs</a>

            </div>
            <p class="navbar-text navbar-right">Hi @name! <a href="~/logout" class="navbar-link"><span class="glyphicon glyphicon-log-out"></span></a></p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 well custom-leftmargin">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="~/Student">Home</a></li>
                    <li><a href="~/Student/Edit/Info">Basic Information</a></li>
                    <li class="active"><a href="~/Student/Edit/Password">Change Password</a></li>
                    <li><a href="~/Student/Edit/Learning">Learning Style</a></li>
                    <li><a href="~/Student/Edit/Grades">Add Grades</a></li>
                </ul>

            </div>
            <div class="col-md-5 well custom-leftmargin">
                <h3>Change Password</h3>
                @if (IsPost && error)
                {
                    <div class="alert alert-danger">@errormessage</div>
                }
                else if (IsPost)
                {
                    <div class="alert alert-success">@errormessage</div>
                }
                <form method="post">
                    <div class="form-group">
                        <label for="Password">Current Password</label>
                        <input type="password" class="form-control" id="pw" name="oldpass" placeholder="Current Password" required>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="Password">New Password</label>
                        <input type="password" class="form-control" id="pw" name="newpass" placeholder="New Password" required>
                    </div>
                    <div class="form-group">
                        <label for="Password">Confirm Password</label>
                        <input type="password" class="form-control" id="pw" name="confirm" placeholder="Confirm Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>

            </div>

        </div>
</body>
</html>
